.hero {
	background: #f0f4f7;
	padding: 70px 0;
	position: relative;
	.container {
		display: flex;
		justify-content: space-between;
		position: relative;
	}
	&__decorator {
		position: absolute;
		width: 150px;
		height: 150px;
		right: -75px;
		bottom: -75px;
		background: #e4293b;
		opacity: 0.7;
		filter: blur(100px);
		&_small {
			width: 100px;
			height: 100px;
			left: -50px;
			top: -50px;
		}
	}
	&__column {
		max-width: 45%;
		padding-left: 70px;
	}
	&__title {
		font-size: 40px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #153548;
		margin-bottom: 30px;
	}
	&__image {
		animation: slideAnimation 1s;
	}
	&__row {
		display: flex;
	}
	.button {
		svg {
			margin-left: 5px;
		}
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

@keyframes slideAnimation {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@media screen and (max-width: 1200px) {
	.hero {
		min-height: 550px;
		&__column {
			max-width: 60%;
		}
		&__image {
			position: absolute;
			right: 15px;
		}
	}
}
@media screen and (max-width: 1023.98px) {
	.hero {
		.container {
			position: initial;
		}
		&__image {
			bottom: 0;
			right: -100px;
		}
	}
}

@media screen and (max-width: 767.98px) {
	.hero {
		min-height: 100%;
		&__image {
			display: none;
		}
		&__column {
			max-width: 100%;
			padding-left: 0;
		}
	}
}

@media screen and (max-width: 520px) {
	.hero {
		&__title {
			font-size: 32px;
			letter-spacing: normal;
		}
	}
}

@media screen and (max-width: 425px) {
	.hero {
		&__row {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		&__title {
			font-size: 28px;
			text-align: center;
		}
		.button {
			&:not(:last-child) {
				margin-right: 15px;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.hero {
		.button {
			&:not(:last-child) {
				margin: 0 0 15px 0;
			}
		}
		&__row {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			font-size: 24px;
		}
	}
}
