.advantages {
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&.section {
		padding: 50px 0 20px 0;
	}
}
.advantages-item {
	flex: 0 0 270px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;

	border-radius: 20px;
	background: #f0f4f7;
	padding: 40px 19px;
	margin: 0 auto 30px auto;

	&__image {
		margin-bottom: 15px;
	}
	&__title {
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		color: #153548;
		margin-bottom: 5px;
		@media screen and (max-width: 520px) {
			font-size: 18px;
		}
	}
	&__text {
		text-align: center;
		font-size: 14px;
		color: rgba(#153548, 0.5);
	}
}
