.news {
	padding: 50px 0 100px 0;
	&__body {
		display: flex;
		flex-direction: column;
		hr {
			width: 90%;
			margin: 30px auto;
			border: none;
			border: 1px dashed rgba(#0e4e66, 0.25);
		}
	}
}
.news-item {
	display: flex;
	&__column {
		display: flex;
		flex-direction: column;
		&:first-of-type {
			margin-right: 30px;
		}
		&_small {
			iframe {
				width: 475px;
				height: 267px;
				border-radius: 20px;
			}
		}
	}
	&__title {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 400;
		color: #153548;
		margin-bottom: 15px;
	}
	&__description {
		font-size: 16px;
		color: #565656;
	}
}
@media screen and (max-width: 1023.98px) {
	.news-item {
		flex-direction: column;
		&__column {
			&:first-of-type {
				margin: 0;
			}
			&_small {
				order: -1;
				align-self: center;
			}
		}
		&__title {
			text-align: center;
			margin: 15px 0;
		}
	}
}

@media screen and (max-width: 560px) {
	.news-item {
		&__column {
			&_small {
				width: 100%;
			}
			iframe {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 424.98px) {
	.news-item {
		&__column {
			iframe {
				width: 100%;
				height: 200px;
			}
		}
		&__title {
			font-size: 18px;
		}
		&__description {
			font-size: 14px;
		}
	}
}
@media screen and (max-width: 374.98px) {
	.news-item {
		&__column {
			iframe {
				height: 180px;
			}
		}
	}
}
