.about-us {
	padding: 50px 0 100px 0;
	&__body {
		background: #f0f4f7;
		padding: 20px;
		border-radius: 20px;
		h3 {
			font-size: 24px;
			color: #153548;
			margin-bottom: 15px;
		}
		p {
			font-size: 18px;
			color: #78848d;
		}
	}
}
